/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a {
  text-decoration: none; }

@font-face {
  font-family: 'Helvetica';
  src: url("../fonts/Helvetica/Helvetica.eot");
  src: url("../fonts/Helvetica/Helvetica.eot?#iefix") format("embedded-opentype"), url("../fonts/Helvetica/Helvetica.woff2") format("woff2"), url("../fonts/Helvetica/Helvetica.woff") format("woff"), url("../fonts/Helvetica/Helvetica.ttf") format("truetype"), url("../fonts/Helvetica/Helvetica.svg#Helvetica") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Helvetica';
  src: url("../fonts/Helvetica/Helvetica-Bold.eot");
  src: url("../fonts/Helvetica/Helvetica-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Helvetica/Helvetica-Bold.woff2") format("woff2"), url("../fonts/Helvetica/Helvetica-Bold.woff") format("woff"), url("../fonts/Helvetica/Helvetica-Bold.ttf") format("truetype"), url("../fonts/Helvetica/Helvetica-Bold.svg#Helvetica-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Helvetica-Oblique';
  src: url("../fonts/Helvetica/Helvetica-Oblique.eot");
  src: url("../fonts/Helvetica/Helvetica-Oblique.eot?#iefix") format("embedded-opentype"), url("../fonts/Helvetica/Helvetica-Oblique.woff2") format("woff2"), url("../fonts/Helvetica/Helvetica-Oblique.woff") format("woff"), url("../fonts/Helvetica/Helvetica-Oblique.ttf") format("truetype"), url("../fonts/Helvetica/Helvetica-Oblique.svg#Helvetica-Oblique") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

.index-header .container .header-div .logo {
  max-width: 38px;
  width: 100%;
  height: 12.8px; }

.index-header .container .header-div .logo a h2 {
  font-family: 'Helvetica', sans-serif;
  font-size: 13px;
  font-weight: 700;
  color: #FA6980;
  text-transform: uppercase; }

.index-header .container .header-div .nav-div nav ul li a {
  color: #343638;
  font-family: 'Helvetica', sans-serif;
  font-weight: 700;
  font-size: 11px;
  text-transform: uppercase; }

.index-header .header-content .content-one .content-info .content-title h1, .index-header .header-content .content-one .content-info .content-text h2, .index-section-two .section-two-container .section-two-wrapper .container-one .sec-two-box-one h3, .index-section-two .section-two-container .section-two-wrapper .container-one .sec-two-box-two h3 {
  font-family: 'Helvetica', sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #fff; }

.index-header .header-content .content-one .content-info .content-text p, .index-section-two .section-two-container .section-two-wrapper .container-one .sec-two-box-one p, .index-section-two .section-two-container .section-two-wrapper .container-one .sec-two-box-two p {
  font-family: 'Helvetica', sans-serif;
  font-weight: 400;
  font-size: 16px; }

.index-header .header-content .content-two .content-two-info .content-two-text .text-one h2, .index-header .header-content .content-two .content-two-info .content-two-text .text-two h2 {
  font-family: 'Helvetica', sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  color: #FA6980; }

.index-header .header-content .content-two .content-two-info .content-two-text .text-one h3, .index-header .header-content .content-two .content-two-info .content-two-text .text-two h3, .index-section-one .section-container .box-container .box-one h4, .index-section-one .section-container .box-container .box-two h4, .index-section-one .section-container .box-container .box-three h4 {
  font-family: 'Helvetica', sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #343638; }

.index-header .header-content .content-two .content-two-info .content-two-text .text-one p, .index-header .header-content .content-two .content-two-info .content-two-text .text-two p, .index-section-one .section-container .box-container .box-one .box-time p, .index-section-one .section-container .box-container .box-two .box-time p, .index-section-one .section-container .box-container .box-three .box-time p, .index-section-two .section-two-container .section-two-wrapper .container-one .sec-two-box-one .box-time p, .index-section-two .section-two-container .section-two-wrapper .container-one .sec-two-box-two .box-time p {
  font-family: 'acumin-pro',sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #A6ADB4; }

.index-header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 50px;
  background-color: #F6F8F9; }
  .index-header .container .header-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto; }
    @media (min-width: 1366px) {
      .index-header .container .header-div {
        max-width: 1326px;
        width: 100%;
        margin: 0 auto; } }
    @media (min-width: 1440px) {
      .index-header .container .header-div {
        max-width: 1400px;
        width: 100%;
        margin: 0 auto; } }
    .index-header .container .header-div .nav-div {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      max-width: 338px;
      width: 100%; }
      .index-header .container .header-div .nav-div nav {
        height: 10px; }
        .index-header .container .header-div .nav-div nav ul {
          width: 267px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between; }
          .index-header .container .header-div .nav-div nav ul li {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            height: 12px; }
            .index-header .container .header-div .nav-div nav ul li:nth-child(2), .index-header .container .header-div .nav-div nav ul li:nth-child(3), .index-header .container .header-div .nav-div nav ul li:nth-child(4) {
              opacity: 50%; }
      .index-header .container .header-div .nav-div .header-img {
        max-width: 30px;
        width: 100%;
        height: 30px; }

.index-header .header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .index-header .header-content .content-one {
    background-image: url("../img/img1.jpg");
    background-repeat: no-repeat;
    max-width: 840px;
    width: 100%;
    height: 600px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .index-header .header-content .content-one .content-info {
      max-width: 600px;
      width: 100%;
      height: 247px; }
      .index-header .header-content .content-one .content-info .content-title::after {
        content: '';
        max-width: 560px;
        width: 100%;
        border-bottom: 2px solid #fff;
        display: block;
        margin-top: 40px;
        margin-bottom: 40px; }
      .index-header .header-content .content-one .content-info .content-title h1 {
        text-transform: uppercase; }
      .index-header .header-content .content-one .content-info .content-text {
        max-width: 530px;
        width: 100%; }
        .index-header .header-content .content-one .content-info .content-text p {
          color: #fff;
          line-height: 30px; }
      .index-header .header-content .content-one .content-info .learn-button {
        margin-top: 30px;
        background-color: #FA6980;
        width: 134px;
        height: 40px;
        border-radius: 6px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        .index-header .header-content .content-one .content-info .learn-button a {
          font-family: 'Helvetica', sans-serif;
          color: #fff;
          text-transform: uppercase;
          font-size: 11px;
          font-weight: 700; }
  .index-header .header-content .content-two {
    max-width: 600px;
    width: 100%;
    height: 600px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .index-header .header-content .content-two .content-two-info {
      margin-left: 100px;
      max-width: 380px;
      width: 100%; }
      .index-header .header-content .content-two .content-two-info .content-two-title::after {
        content: '';
        border-bottom: 2px solid #EBEDED;
        display: block;
        max-width: 380px;
        width: 100%;
        margin-top: 40px; }
      .index-header .header-content .content-two .content-two-info .content-two-title h2 {
        font-family: 'Helvetica', sans-serif;
        text-transform: uppercase;
        font-size: 24px;
        font-weight: 700; }
        .index-header .header-content .content-two .content-two-info .content-two-title h2 .arrow-left {
          padding-top: 4px;
          padding-left: 163px;
          padding-right: 40px;
          font-size: 10px;
          opacity: 50%;
          vertical-align: top; }
        .index-header .header-content .content-two .content-two-info .content-two-title h2 .arrow-right {
          padding-top: 4px;
          vertical-align: top;
          color: #343638;
          font-size: 10px; }
      .index-header .header-content .content-two .content-two-info .content-two-text {
        margin-top: 41px; }
        .index-header .header-content .content-two .content-two-info .content-two-text .text-one h3 {
          margin-top: 20px; }
        .index-header .header-content .content-two .content-two-info .content-two-text .text-one p {
          line-height: 28px; }
        .index-header .header-content .content-two .content-two-info .content-two-text .text-one .time {
          height: 16px;
          margin-top: 10px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center; }
          .index-header .header-content .content-two .content-two-info .content-two-text .text-one .time img {
            margin-right: 10px; }
          .index-header .header-content .content-two .content-two-info .content-two-text .text-one .time p {
            padding-bottom: 2px; }
        .index-header .header-content .content-two .content-two-info .content-two-text .text-two {
          margin-top: 40px; }
          .index-header .header-content .content-two .content-two-info .content-two-text .text-two h3 {
            margin-top: 20px; }
          .index-header .header-content .content-two .content-two-info .content-two-text .text-two p {
            line-height: 28px; }
          .index-header .header-content .content-two .content-two-info .content-two-text .text-two .time {
            height: 16px;
            margin-top: 10px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center; }
            .index-header .header-content .content-two .content-two-info .content-two-text .text-two .time img {
              margin-right: 10px; }

footer {
  background-color: #A6ADB4; }
  footer .footer-container {
    max-width: 1160px;
    width: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 56px 0 60px 0px; }
    footer .footer-container .footer-logo a h2 {
      font-family: 'acumin-pro',sans-serif;
      font-weight: 700;
      font-size: 13px;
      color: #fff;
      text-transform: uppercase; }
    footer .footer-container .footer-nav-one {
      margin-left: 60px; }
      footer .footer-container .footer-nav-one nav ul li:nth-child(2), footer .footer-container .footer-nav-one nav ul li:nth-child(3), footer .footer-container .footer-nav-one nav ul li:nth-child(4) {
        margin-top: 8px; }
      footer .footer-container .footer-nav-one nav ul li a {
        font-family: 'Helvetica', sans-serif;
        font-size: 13px;
        font-weight: 700;
        color: #CBD0D3; }
    footer .footer-container .footer-nav-two {
      margin-left: 41.7px; }
      footer .footer-container .footer-nav-two nav ul li:nth-child(2), footer .footer-container .footer-nav-two nav ul li:nth-child(3), footer .footer-container .footer-nav-two nav ul li:nth-child(4) {
        margin-top: 8px; }
      footer .footer-container .footer-nav-two nav ul li a {
        font-family: 'Helvetica', sans-serif;
        font-size: 13px;
        font-weight: 700;
        color: #CBD0D3; }
    footer .footer-container .footer-nav-three {
      margin-left: 44.6px; }
      footer .footer-container .footer-nav-three nav ul li:nth-child(2), footer .footer-container .footer-nav-three nav ul li:nth-child(3), footer .footer-container .footer-nav-three nav ul li:nth-child(4) {
        margin-top: 8px; }
      footer .footer-container .footer-nav-three nav ul li a {
        font-family: 'Helvetica', sans-serif;
        font-size: 13px;
        font-weight: 700;
        color: #CBD0D3; }
    footer .footer-container .footer-form {
      margin-left: 219.8px; }
      footer .footer-container .footer-form form {
        max-width: 262px;
        width: 100%; }
        footer .footer-container .footer-form form .form-email {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          border: 2px solid #CBD0D3;
          height: 40px;
          border-radius: 6px; }
          footer .footer-container .footer-form form .form-email input {
            width: 207px;
            padding-left: 20px;
            background-color: #A6ADB4;
            border: none; }
            footer .footer-container .footer-form form .form-email input::-webkit-input-placeholder {
              color: #CBD0D3;
              font-family: 'Helvetica', sans-serif;
              font-size: 13px;
              font-weight: 400; }
            footer .footer-container .footer-form form .form-email input::-moz-placeholder {
              color: #CBD0D3;
              font-family: 'Helvetica', sans-serif;
              font-size: 13px;
              font-weight: 400; }
            footer .footer-container .footer-form form .form-email input:-ms-input-placeholder {
              color: #CBD0D3;
              font-family: 'Helvetica', sans-serif;
              font-size: 13px;
              font-weight: 400; }
            footer .footer-container .footer-form form .form-email input::-ms-input-placeholder {
              color: #CBD0D3;
              font-family: 'Helvetica', sans-serif;
              font-size: 13px;
              font-weight: 400; }
            footer .footer-container .footer-form form .form-email input::placeholder {
              color: #CBD0D3;
              font-family: 'Helvetica', sans-serif;
              font-size: 13px;
              font-weight: 400; }
            footer .footer-container .footer-form form .form-email input:focus {
              outline: none; }
          footer .footer-container .footer-form form .form-email .email-send {
            cursor: pointer;
            margin-left: 19px;
            margin-right: 19px; }
      footer .footer-container .footer-form .form-p {
        margin-top: 16px; }
        footer .footer-container .footer-form .form-p p {
          font-family: 'Helvetica', sans-serif;
          font-size: 11px;
          font-weight: 400;
          color: #CBD0D3; }
    footer .footer-container .footer-soc {
      max-width: 160px;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      margin-left: 139.2px; }

.index-section-one {
  background-color: #F6F8F9; }
  .index-section-one .section-container {
    padding-top: 41px;
    max-width: 1160px;
    width: 100%;
    margin: 0 auto; }
    .index-section-one .section-container .section-title {
      height: 20px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .index-section-one .section-container .section-title h2 {
        font-family: 'Helvetica', sans-serif;
        font-size: 24px;
        font-weight: 700;
        text-transform: uppercase; }
      .index-section-one .section-container .section-title .title-arrow i:nth-child(1), .index-section-one .section-container .section-title .title-arrow i:nth-child(2) {
        font-size: 10px; }
      .index-section-one .section-container .section-title .title-arrow i:nth-child(1) {
        opacity: 50%;
        margin-right: 40px; }
    .index-section-one .section-container .box-container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      margin-top: 40px; }
      .index-section-one .section-container .box-container .box-one {
        max-width: 360px;
        width: 100%;
        height: 350px; }
        .index-section-one .section-container .box-container .box-one h4 {
          margin-left: 40px;
          margin-top: 40px; }
        .index-section-one .section-container .box-container .box-one p {
          font-family: 'acumin-pro',sans-serif;
          font-weight: 400;
          font-size: 13px;
          color: #A6ADB4;
          line-height: 25px;
          max-width: 240px;
          width: 100%;
          margin-bottom: 10px;
          margin-left: 40px; }
        .index-section-one .section-container .box-container .box-one .box-time {
          margin-left: 40px;
          height: 16px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center; }
          .index-section-one .section-container .box-container .box-one .box-time p {
            height: 15px;
            margin-left: 10px; }
      .index-section-one .section-container .box-container .box-two {
        max-width: 360px;
        width: 100%;
        height: 350px; }
        .index-section-one .section-container .box-container .box-two h4 {
          margin-left: 40px;
          margin-top: 40px; }
        .index-section-one .section-container .box-container .box-two p {
          font-family: 'acumin-pro',sans-serif;
          font-weight: 400;
          font-size: 13px;
          color: #A6ADB4;
          line-height: 25px;
          max-width: 240px;
          width: 100%;
          margin-bottom: 10px;
          margin-left: 40px; }
        .index-section-one .section-container .box-container .box-two .box-time {
          margin-left: 40px;
          height: 16px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center; }
          .index-section-one .section-container .box-container .box-two .box-time p {
            height: 15px;
            margin-left: 10px; }
      .index-section-one .section-container .box-container .box-three {
        max-width: 360px;
        width: 100%;
        height: 350px; }
        .index-section-one .section-container .box-container .box-three h4 {
          margin-left: 40px;
          margin-top: 40px; }
        .index-section-one .section-container .box-container .box-three p {
          font-family: 'acumin-pro',sans-serif;
          font-weight: 400;
          font-size: 13px;
          color: #A6ADB4;
          line-height: 25px;
          max-width: 240px;
          width: 100%;
          margin-bottom: 10px;
          margin-left: 40px; }
        .index-section-one .section-container .box-container .box-three .box-time {
          margin-left: 40px;
          height: 16px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center; }
          .index-section-one .section-container .box-container .box-three .box-time p {
            height: 15px;
            margin-left: 10px; }

.index-section-two {
  background-color: #F6F8F9; }
  .index-section-two .section-two-container {
    max-width: 1160px;
    width: 100%;
    margin: 0 auto;
    padding-top: 40px; }
    .index-section-two .section-two-container .section-two-title {
      height: 20px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .index-section-two .section-two-container .section-two-title h2 {
        font-family: 'Helvetica', sans-serif;
        font-size: 24px;
        font-weight: 700;
        text-transform: uppercase; }
      .index-section-two .section-two-container .section-two-title .title-arrow i:nth-child(1), .index-section-two .section-two-container .section-two-title .title-arrow i:nth-child(2) {
        font-size: 10px; }
      .index-section-two .section-two-container .section-two-title .title-arrow i:nth-child(1) {
        opacity: 50%;
        margin-right: 40px; }
    .index-section-two .section-two-container .section-two-wrapper {
      margin-top: 40px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      padding-bottom: 100px; }
      .index-section-two .section-two-container .section-two-wrapper .container-one .sec-two-box-one {
        padding-right: 40px;
        padding-top: 40px;
        padding-left: 40px;
        background-image: url("../img/img5.jpg");
        background-repeat: no-repeat;
        max-width: 760px;
        width: 100%;
        height: 430px; }
        .index-section-two .section-two-container .section-two-wrapper .container-one .sec-two-box-one h4 {
          margin-bottom: 236px;
          font-family: 'Helvetica', sans-serif;
          text-transform: uppercase;
          font-size: 16px;
          font-weight: 700;
          color: #fff; }
        .index-section-two .section-two-container .section-two-wrapper .container-one .sec-two-box-one p {
          color: #fff;
          margin-top: 10px; }
        .index-section-two .section-two-container .section-two-wrapper .container-one .sec-two-box-one .box-time {
          margin-top: 35px;
          height: 18px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center; }
          .index-section-two .section-two-container .section-two-wrapper .container-one .sec-two-box-one .box-time p {
            height: 18px;
            margin-left: 10px; }
      .index-section-two .section-two-container .section-two-wrapper .container-one .sec-two-box-two {
        margin-top: 40px;
        padding-top: 40px;
        padding-left: 40px;
        background-image: url("../img/img6.jpg");
        background-repeat: no-repeat;
        max-width: 760px;
        width: 100%;
        height: 430px; }
        .index-section-two .section-two-container .section-two-wrapper .container-one .sec-two-box-two h4 {
          margin-bottom: 236px;
          font-family: 'Helvetica', sans-serif;
          text-transform: uppercase;
          font-size: 16px;
          font-weight: 700;
          color: #fff; }
        .index-section-two .section-two-container .section-two-wrapper .container-one .sec-two-box-two p {
          color: #fff;
          margin-top: 10px; }
        .index-section-two .section-two-container .section-two-wrapper .container-one .sec-two-box-two .box-time {
          margin-top: 35px;
          height: 18px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center; }
          .index-section-two .section-two-container .section-two-wrapper .container-one .sec-two-box-two .box-time p {
            height: 18px;
            margin-left: 10px; }
      .index-section-two .section-two-container .section-two-wrapper .container-two .container-two-box-one {
        max-width: 360px;
        width: 100%;
        height: 272px; }
        .index-section-two .section-two-container .section-two-wrapper .container-two .container-two-box-one h4 {
          margin-top: 20px;
          font-family: 'acumin-pro',sans-serif;
          font-weight: 700;
          font-size: 16px;
          color: #343638; }
        .index-section-two .section-two-container .section-two-wrapper .container-two .container-two-box-one .box-time {
          margin-top: 10px;
          height: 18px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center; }
          .index-section-two .section-two-container .section-two-wrapper .container-two .container-two-box-one .box-time p {
            height: 10px;
            font-family: 'Helvetica',sans-serif;
            font-size: 13px;
            color: #A6ADB4;
            margin-left: 10px; }
            .index-section-two .section-two-container .section-two-wrapper .container-two .container-two-box-one .box-time p span {
              text-decoration: underline; }
      .index-section-two .section-two-container .section-two-wrapper .container-two .container-two-box-two {
        margin-top: 40px;
        max-width: 360px;
        width: 100%;
        height: 272px; }
        .index-section-two .section-two-container .section-two-wrapper .container-two .container-two-box-two h4 {
          margin-top: 20px;
          font-family: 'acumin-pro',sans-serif;
          font-weight: 700;
          font-size: 16px;
          color: #343638; }
        .index-section-two .section-two-container .section-two-wrapper .container-two .container-two-box-two .box-time {
          margin-top: 10px;
          height: 18px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center; }
          .index-section-two .section-two-container .section-two-wrapper .container-two .container-two-box-two .box-time p {
            height: 10px;
            font-family: 'Helvetica',sans-serif;
            font-size: 13px;
            color: #A6ADB4;
            margin-left: 10px; }
            .index-section-two .section-two-container .section-two-wrapper .container-two .container-two-box-two .box-time p span {
              text-decoration: underline; }
      .index-section-two .section-two-container .section-two-wrapper .container-two .container-two-box-three {
        margin-top: 40px;
        max-width: 360px;
        width: 100%;
        height: 272px; }
        .index-section-two .section-two-container .section-two-wrapper .container-two .container-two-box-three h4 {
          margin-top: 20px;
          font-family: 'acumin-pro',sans-serif;
          font-weight: 700;
          font-size: 16px;
          color: #343638; }
        .index-section-two .section-two-container .section-two-wrapper .container-two .container-two-box-three .box-time {
          margin-top: 10px;
          height: 18px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center; }
          .index-section-two .section-two-container .section-two-wrapper .container-two .container-two-box-three .box-time p {
            height: 10px;
            font-family: 'Helvetica',sans-serif;
            font-size: 13px;
            color: #A6ADB4;
            margin-left: 10px; }
            .index-section-two .section-two-container .section-two-wrapper .container-two .container-two-box-three .box-time p span {
              text-decoration: underline; }

.news-section-one {
  background-color: #F6F8F9; }
  .news-section-one .news-container {
    max-width: 1160px;
    width: 100%;
    margin: 0 auto; }
    .news-section-one .news-container .news-title {
      padding-bottom: 42px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      .news-section-one .news-container .news-title .news-div-img {
        height: 16px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        max-width: 198px;
        width: 100%; }
        .news-section-one .news-container .news-title .news-div-img img {
          height: 16px; }
        .news-section-one .news-container .news-title .news-div-img .news-div-title {
          max-width: 152px;
          width: 100%;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex; }
          .news-section-one .news-container .news-title .news-div-img .news-div-title h4 {
            color: #343638;
            text-transform: uppercase;
            font-family: 'acumin-pro',sans-serif;
            font-weight: 700;
            font-size: 11px; }
          .news-section-one .news-container .news-title .news-div-img .news-div-title .news-h4-two {
            color: #A6ADB4; }
            .news-section-one .news-container .news-title .news-div-img .news-div-title .news-h4-two::before {
              content: '/';
              display: inline-block;
              font-family: 'Helvetica', sans-serif;
              font-size: 11px;
              font-weight: 700;
              margin-right: 20px; }
      .news-section-one .news-container .news-title .news-icon {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        border: 2px solid #EBEDED;
        max-width: 40px;
        width: 100%;
        height: 40px;
        padding: 10px;
        border-radius: 4px;
        cursor: pointer; }
    .news-section-one .news-container .news-div-two-wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .news-section-one .news-container .news-div-two-wrapper .news-div-two {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        background-image: url("../img/img10.jpg");
        background-repeat: no-repeat;
        max-width: 580px;
        width: 100%;
        height: 500px; }
        .news-section-one .news-container .news-div-two-wrapper .news-div-two .news-h2-title {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center; }
          .news-section-one .news-container .news-div-two-wrapper .news-div-two .news-h2-title::after {
            content: '';
            border-bottom: 2px solid #FA6980;
            max-width: 40px;
            width: 100%;
            display: block;
            margin-top: 20px; }
          .news-section-one .news-container .news-div-two-wrapper .news-div-two .news-h2-title h2 {
            font-family: 'Helvetica', sans-serif;
            font-size: 32px;
            text-transform: uppercase;
            color: #fff;
            font-weight: 700; }
        .news-section-one .news-container .news-div-two-wrapper .news-div-two p {
          font-family: 'Helvetica', sans-serif;
          font-size: 16px;
          font-weight: 700;
          color: #fff;
          margin-top: 20px;
          margin-bottom: 65px; }
      .news-section-one .news-container .news-div-two-wrapper .news-div-three {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        .news-section-one .news-container .news-div-two-wrapper .news-div-three form {
          max-width: 360px;
          width: 100%;
          margin-left: 110px;
          height: 246px; }
          .news-section-one .news-container .news-div-two-wrapper .news-div-three form .label-div label {
            font-family: 'acumin-pro',sans-serif;
            font-weight: 700;
            font-size: 13px;
            color: #343638; }
          .news-section-one .news-container .news-div-two-wrapper .news-div-three form .label-div .select-div {
            margin-top: 13px;
            width: 360px;
            height: 40px;
            cursor: pointer;
            border: 2px solid #EBEDED;
            border-radius: 6px;
            position: relative; }
            .news-section-one .news-container .news-div-two-wrapper .news-div-three form .label-div .select-div select {
              width: 356px;
              height: 36px;
              border: none;
              position: relative;
              background: none;
              cursor: pointer;
              -webkit-appearance: none;
              -moz-appearance: none;
              appearance: none;
              outline: none;
              color: #A6ADB4;
              padding-left: 12px;
              font-family: 'Helvetica', sans-serif;
              font-weight: 400;
              font-size: 13px; }
            .news-section-one .news-container .news-div-two-wrapper .news-div-three form .label-div .select-div::after {
              width: 6px;
              height: 6px;
              border-left: 3px solid #A6ADB4;
              -webkit-transform: rotate(225deg);
              transform: rotate(225deg);
              display: inline-block;
              border-top: 3px solid #A6ADB4;
              position: absolute;
              top: 35%;
              right: 20px;
              content: " "; }
          .news-section-one .news-container .news-div-two-wrapper .news-div-three form .div-keyword {
            margin-top: 40px; }
            .news-section-one .news-container .news-div-two-wrapper .news-div-three form .div-keyword label {
              font-family: 'acumin-pro',sans-serif;
              font-weight: 700;
              font-size: 13px;
              color: #343638; }
            .news-section-one .news-container .news-div-two-wrapper .news-div-three form .div-keyword .div-input {
              margin-top: 10px;
              width: 360px;
              height: 40px;
              border: 2px solid #EBEDED;
              border-radius: 6px; }
              .news-section-one .news-container .news-div-two-wrapper .news-div-three form .div-keyword .div-input input {
                width: 356px;
                height: 36px;
                border: none;
                background: none;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                outline: none;
                color: #A6ADB4; }
                .news-section-one .news-container .news-div-two-wrapper .news-div-three form .div-keyword .div-input input:focus {
                  color: #A6ADB4; }
          .news-section-one .news-container .news-div-two-wrapper .news-div-three form .news-button {
            margin-top: 40px;
            max-width: 134px;
            width: 100%;
            height: 40px;
            background-color: #FA6980;
            border-radius: 6px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center; }
            .news-section-one .news-container .news-div-two-wrapper .news-div-three form .news-button a {
              font-family: 'Helvetica', sans-serif;
              color: #fff;
              text-transform: uppercase;
              font-size: 11px;
              font-weight: 700; }

.news-section-two {
  background-color: #F6F8F9;
  padding-top: 40px;
  padding-bottom: 40px; }
  .news-section-two .news-section-two-container {
    padding-top: 41px;
    padding-bottom: 40px;
    max-width: 1160px;
    width: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-top: 2px solid #EBEDED;
    border-bottom: 2px solid #EBEDED; }
    .news-section-two .news-section-two-container .news-sec-two-one {
      max-width: 360px;
      width: 100%; }
      .news-section-two .news-section-two-container .news-sec-two-one p {
        font-family: 'acumin-pro',sans-serif;
        font-weight: 700;
        font-size: 24px;
        color: #343638;
        line-height: 30px;
        margin-top: 20px; }
    .news-section-two .news-section-two-container .news-sec-two-two {
      max-width: 360px;
      width: 100%; }
      .news-section-two .news-section-two-container .news-sec-two-two p {
        font-family: 'Helvetica', sans-serif;
        color: #A6ADB4;
        line-height: 28px;
        font-size: 14px;
        font-weight: 400; }
    .news-section-two .news-section-two-container .news-sec-two-three {
      max-width: 360px;
      width: 100%; }
      .news-section-two .news-section-two-container .news-sec-two-three p {
        font-family: 'Helvetica', sans-serif;
        color: #A6ADB4;
        line-height: 28px;
        font-size: 14px;
        font-weight: 400; }
      .news-section-two .news-section-two-container .news-sec-two-three .time {
        height: 16px;
        margin-top: 10px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        .news-section-two .news-section-two-container .news-sec-two-three .time img {
          margin-right: 10px; }
        .news-section-two .news-section-two-container .news-sec-two-three .time p {
          padding-bottom: 2px; }

.news-section-three {
  background-color: #F6F8F9;
  padding-bottom: 161px; }
  .news-section-three .news-section-three-container {
    border-bottom: 2px solid #EBEDED;
    max-width: 1160px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 40px; }
    .news-section-three .news-section-three-container p {
      max-width: 760px;
      width: 100%;
      font-family: 'Helvetica', sans-serif;
      color: #A6ADB4;
      line-height: 28px;
      font-size: 14px;
      font-weight: 400;
      margin-top: 40px; }
      .news-section-three .news-section-three-container p:nth-child(3) {
        margin-top: 40px; }
