footer {
    background-color: $grey;
    @media (max-width: 625px) {
        display: none;
    }
    .footer-container {
        @media (max-width: 1185px) {
            max-width: 608px;
            width: $w-100;
            flex-wrap: wrap;
            
        }
        @media (max-width: 625px) {
            flex-direction: column;
            align-items: center;
        }
        max-width: 1160px;
        width: $w-100;
        margin: $m-center;
        display: flex;
        padding: 56px 0 60px 0px;

        .footer-logo {
            @media (max-width: 1185px) {
                
                margin-right: 224px;
            }
            @media (max-width: 625px) {
                max-width: 36px;
                width: $w-100;
                margin-right: 0;
            }
            a {
                h2 {
                    
                        font-family: 'acumin-pro',sans-serif;
                        font-weight: $bold;
                        font-size: 13px;
                        color: #fff;
                        text-transform: uppercase;
                    
                }
            }
        }

        .footer-nav-one {
            @media (max-width: 625px) {
                max-width: 85px;
                width: $w-100;
                margin-left: 0;
                text-align: center;
                margin-top: 20px;
            }
            margin-left: 60px;
            nav {
                ul {
                    li {
                        &:nth-child(2),
                        &:nth-child(3),
                        &:nth-child(4) {
                            margin-top: 8px;
                        }
                        a {
                            font-family: 'Helvetica', sans-serif;
                            font-size: $p-13;
                            font-weight: $bold;
                            color: $ex-grey;
                        }
                    }
                }
            }
        }

        .footer-nav-two {
            @media (max-width: 625px) {
                max-width: 85px;
                width: $w-100;
                margin-left: 0;
                text-align: center;
                margin-top: 20px;
            }
            margin-left: 41.7px;
            nav {
                ul {
                    li {
                        &:nth-child(2),
                        &:nth-child(3),
                        &:nth-child(4) {
                            margin-top: 8px;
                        }
                        a {
                            font-family: 'Helvetica', sans-serif;
                            font-size: $p-13;
                            font-weight: $bold;
                            color: $ex-grey;
                        }
                    }
                }
            }
        }


        .footer-nav-three {
            @media (max-width: 625px) {
                max-width: 85px;
                width: $w-100;
                margin-left: 0;
                text-align: center;
                margin-top: 20px;
            }
            margin-left: 44.6px;
            nav {
                ul {
                    li {
                        &:nth-child(2),
                        &:nth-child(3),
                        &:nth-child(4) {
                            margin-top: 8px;
                        }
                        a {
                            font-family: 'Helvetica', sans-serif;
                            font-size: $p-13;
                            font-weight: $bold;
                            color: $ex-grey;
                        }
                    }
                }
            }
        }

        .footer-form {
            @media (max-width: 1185px) {
                margin-left: 0;
                margin-top: 50px;
            }
            @media (max-width: 625px) {
                
                margin-top: 20;
            }
            
            margin-left: 219.8px;
            form {
                max-width: 262px;
                width: 100%;
                .form-email {
                    display: flex;
                    align-items: center;
                    border: 2px solid $ex-grey;
                    
                    
                    height: 40px;
                    border-radius: 6px;
                    input {
                        width: 207px;
                        padding-left: 20px;
                        
                        &::placeholder {
                            
                            
                            color: $ex-grey;
                            font-family: 'Helvetica', sans-serif;
                            font-size: $p-13;
                            font-weight: $regular;
                        }
                        &:focus {
                            outline: none;
                        }
                       
                        background-color: #A6ADB4;
                        border: none;
                        
                        
                    }
                    .email-send {
                        cursor: pointer;
                        margin-left: 19px;
                        margin-right: 19px;
                    }

                    
                }
            }

            .form-p {
                margin-top:16px;
                p {
                    font-family: 'Helvetica', sans-serif;
                    font-size: $p-11;
                    font-weight: $regular;
                    color: $ex-grey;
                }
            }
        }

        .footer-soc {
            @media (max-width: 1185px) {
                
                margin-left: 448.2px;
            }
            @media (max-width: 625px) {
                margin-top: 20px;
                margin-left: 0;
            }
            
            max-width: 160px;
            width: $w-100;
            display: flex;
            justify-content: space-between;
            margin-left: 139.2px;
        }
    }
}