footer {
    background-color: $grey;

    .footer-container {
        max-width: 1160px;
        width: $w-100;
        margin: $m-center;
        display: flex;
        padding: 56px 0 60px 0px;

        .footer-logo {
            h2 {
                font-family: 'acumin-pro',sans-serif;
                font-weight: $bold;
                font-size: 13px;
                color: #fff;
                text-transform: uppercase;
            }
        }

        .footer-nav-one {
            margin-left: 60px;
            nav {
                ul {
                    li {
                        &:nth-child(2),
                        &:nth-child(3),
                        &:nth-child(4) {
                            margin-top: 8px;
                        }
                        a {
                            font-family: 'Helvetica', sans-serif;
                            font-size: $p-13;
                            font-weight: $bold;
                            color: $ex-grey;
                        }
                    }
                }
            }
        }

        .footer-nav-two {
            margin-left: 41.7px;
            nav {
                ul {
                    li {
                        &:nth-child(2),
                        &:nth-child(3),
                        &:nth-child(4) {
                            margin-top: 8px;
                        }
                        a {
                            font-family: 'Helvetica', sans-serif;
                            font-size: $p-13;
                            font-weight: $bold;
                            color: $ex-grey;
                        }
                    }
                }
            }
        }


        .footer-nav-three {
            margin-left: 44.6px;
            nav {
                ul {
                    li {
                        &:nth-child(2),
                        &:nth-child(3),
                        &:nth-child(4) {
                            margin-top: 8px;
                        }
                        a {
                            font-family: 'Helvetica', sans-serif;
                            font-size: $p-13;
                            font-weight: $bold;
                            color: $ex-grey;
                        }
                    }
                }
            }
        }

        .footer-form {
            margin-left: 219.8px;
            form {
                max-width: 262px;
                width: 100%;
                .form-email {
                    display: flex;
                    align-items: center;
                    border: 2px solid $ex-grey;
                    
                    
                    height: 40px;
                    border-radius: 6px;
                    input {
                        width: 207px;
                        padding-left: 20px;
                        
                        &::placeholder {
                            
                            
                            color: $ex-grey;
                            font-family: 'Helvetica', sans-serif;
                            font-size: $p-13;
                            font-weight: $regular;
                        }
                        &:focus {
                            outline: none;
                        }
                       
                        background-color: #A6ADB4;
                        border: none;
                        
                        
                    }
                    .email-send {
                        margin-left: 19px;
                        margin-right: 19px;
                    }

                    
                }
            }

            .form-p {
                margin-top:16px;
                p {
                    font-family: 'Helvetica', sans-serif;
                    font-size: $p-11;
                    font-weight: $regular;
                    color: $ex-grey;
                }
            }
        }

        .footer-soc {
            max-width: 160px;
            width: $w-100;
            display: flex;
            justify-content: space-between;
            margin-left: 139.2px;
        }
    }
}