
.header-cont {
    background: $background-col;
    
    .header-nav {
        @extend %header-nav-par;
        
        .w3-animate-left {
            @extend %animation-left;
        }
        .logo {
            height: $p-45;
            
            .logo-a {
                @extend %logo-par;
            }
        }

        .navigation {
            .w3-animate-right {
                @extend %animation-right;
            }
            display: flex;
            nav {
                .nav-ul {
                    display: flex;
                    .ul-li {
                        &:nth-child(2),
                        &:nth-child(3),
                        &:nth-child(4) {
                            margin-left: $p-20;
                        }

                        &:nth-child(5) {
                            margin-left: $p-30;
                        }

                        &:nth-child(5)::after {
                            @extend %divider;
                        }
                        .ul-a {
                            @extend %ul-li-par;
                            &:hover {
                                border-bottom: 2px solid $soft-blue;
                            }
                        }
                        .lang-a {
                            @extend %lang-par;
                        }
                    }
                }
            }
        }
    }
    .water {
        
        @extend %water-animation;
        
        .ripple-one {
            @extend %ripple-one-animation;
        }
        .ripple-two {
            @extend %ripple-two-animation;
        }
        .ripple-three {
            @extend %ripple-three-animation;
        }
        .text {
            @extend %text-animation;
        }
    }

}