.index-section-one {
    background-color: $nav-col;
    .section-container {
        padding-top: 41px;
        max-width: 1160px;
        width: $w-100;
        margin: $m-center;
        @media (max-width: 768px) {
            max-width: 648px;
            width: $w-100;
            margin: $m-center;
        }

        @media (max-width: 625px) {
            max-width: 327px;
            width: $w-100;
            margin: $m-center;
        }
        .section-title {
            
            height: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            h2 {
                @media (max-width: 1185px) {
                    padding-left: 20px;
                }

                @media (max-width: 625px) {
                    padding-left:0;
                    
                }
                font-family: 'Helvetica', sans-serif;
                font-size: 24px;
                font-weight: $bold;
                text-transform: uppercase;
            }
            .title-arrow {
                @media (max-width: 1185px) {
                    padding-right: 20px;
                }
                @media (max-width: 625px) {
                   padding-right: 0;
                    
                }
                i {
                    &:nth-child(1),
                    &:nth-child(2) {
                        font-size: 10px;
                    }

                    &:nth-child(1) {
                        opacity: 50%;
                        margin-right: 40px;
                    }
                }
            }
        }

        .box-container {
            @media (max-width: 625px) {
                flex-direction: column;
            }
            display: flex;
            justify-content: space-between;
            margin-top: 40px;
            .box-one {
                background-color: #fff;
                @media (max-width: 1110px) {
                    margin-left: 20px;
                }

                @media (max-width: 785px) {
                    max-width: 284px;
                    width: $w-100;
                    height: 350px;
                }

                @media (max-width: 625px) {
                    max-width: 327px;
                    width: $w-100;
                    height: 308px;
                    margin-left: 0;
                    margin-bottom: 40px;
                }

                .box-img {
                    img {
                        @media (max-width: 785px) {
                            max-width: 284px;
                            width: $w-100;
                            height: 180px;
                        }
                        @media (max-width: 625px) {
                            max-width: 327px;
                            width: $w-100;
                            height: 154px;
                        }
                    }
                }
                max-width: 360px;
                width: $w-100;
                height: 350px;
                h4 {
                    margin-left: 40px;
                    margin-top: 40px;
                    @extend %text-h3;
                }
                p {
                    @media (max-width: 785px) {
                        max-width: 204px;
                        width: $w-100;
                        
                    }
                    span {
                        @media (max-width: 785px) {
                            display: none;
                        }
                    }
                    font-family: 'acumin-pro',sans-serif;
                    font-weight: $regular;
                    font-size: 13px;
                    color: $grey;
                    line-height: 25px;
                    max-width: 240px;
                    width: 100%;
                    margin-bottom: 10px;
                    margin-left: 40px;
                }
                .box-time {
                    margin-left: 40px;
                    height: 16px;
                    display: flex;
                    align-items: center;
                    p {
                        height: 15px;
                        @extend %text-p;
                        margin-left: 10px;
                    }
                }
            }

            .box-two {
                background-color: #fff;
                @media (max-width: 1110px) {
                    margin-right: 20px;
                }

                @media (max-width: 785px) {
                    max-width: 284px;
                    width: $w-100;
                    height: 350px;
                }
                @media (max-width: 625px) {
                    max-width: 327px;
                    width: $w-100;
                    height: 308px;
                }

                .box-img {
                    img {
                        @media (max-width: 785px) {
                            width: 284px;
                            width: $w-100;
                            height: 180px;
                        }

                        @media (max-width: 625px) {
                            max-width: 327px;
                            width: $w-100;
                            height: 154px;
                        }
                    }
                }
                
                max-width: 360px;
                width: $w-100;
                height: 350px;
                h4 {
                    margin-left: 40px;
                    margin-top: 40px;
                    @extend %text-h3;
                }
                p {
                    @media (max-width: 785px) {
                        max-width: 204px;
                        width: $w-100;
                        
                    }

                    span {
                        @media (max-width: 785px) {
                            display: none;
                        }
                    }
                    font-family: 'acumin-pro',sans-serif;
                    font-weight: $regular;
                    font-size: 13px;
                    color: $grey;
                    line-height: 25px;
                    max-width: 240px;
                    width: 100%;
                    margin-bottom: 10px;
                    margin-left: 40px;
                }
                .box-time {
                    margin-left: 40px;
                    height: 16px;
                    display: flex;
                    align-items: center;
                    p {
                        height: 15px;
                        @extend %text-p;
                        margin-left: 10px;
                    }
                }
            }

            .box-three {
                background-color: #fff;
                @media (max-width: 1110px) {
                    display: none;
                }
                max-width: 360px;
                width: $w-100;
                height: 350px;
                h4 {
                    margin-left: 40px;
                    margin-top: 40px;
                    @extend %text-h3;
                }
                p {
                    font-family: 'acumin-pro',sans-serif;
                    font-weight: $regular;
                    font-size: 13px;
                    color: $grey;
                    line-height: 25px;
                    max-width: 240px;
                    width: 100%;
                    margin-bottom: 10px;
                    margin-left: 40px;
                }
                .box-time {
                    margin-left: 40px;
                    height: 16px;
                    display: flex;
                    align-items: center;
                    p {
                        height: 15px;
                        @extend %text-p;
                        margin-left: 10px;
                    }
                }
            }


        }
    }
}