.news-section-one {
    background-color: $nav-col;
    .news-container {
        
        max-width: 1160px;
        width: $w-100;
        margin: $m-center;

        .news-title {
            padding-bottom: 42px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .news-div-img {
                height: 16px;
                img{
                    height: 16px;
                }
                display: flex;
                justify-content: space-between;
                align-items: center;
                max-width: 198px;
                width: $w-100;
                .news-div-title {

                    h4 {
                        color: $black;
                        text-transform: uppercase;
                        font-family: 'acumin-pro',sans-serif;
                        font-weight: $bold;
                        font-size: 11px;
                        
                    }
                    .news-h4-two {
                        color: #A6ADB4;
                        &::before {
                            content: '/';
                            display: inline-block;
                            font-family: 'Helvetica', sans-serif;
                            font-size: 11px;
                            font-weight: $bold;
                            margin-right: 20px;
                            
                            
                        }
                    }
                    max-width: 152px;
                    width: $w-100;
                    justify-content: space-between;
                    display: flex;
                }
            }

            .news-icon {
                display: flex;
                align-items: center;
                border: 2px solid #EBEDED;
                max-width: 40px;
                width: 100%;
                height: 40px;
                padding: 10px;
                border-radius: 4px;
                cursor: pointer;
            }
        }
        .news-div-two-wrapper {
            display: flex;
            .news-div-two {
                display:flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                background-image: url("../img/img10.jpg");
                background-repeat: no-repeat;
                max-width: 580px;
                width: $w-100;
                height: 500px;

                .news-h2-title {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    &::after {
                        content: '';
                        border-bottom: 2px solid $pink;
                        max-width: 40px;
                        width: $w-100;
                        display: block;
                        margin-top: 20px;
                    }
                    h2 {
                        font-family: 'Helvetica', sans-serif;
                        font-size: 32px;
                        text-transform: uppercase;
                        color: #fff;
                        font-weight: $bold;
                    }
                }

                p{
                    font-family: 'Helvetica', sans-serif;
                    font-size: 16px;
                    font-weight: $bold;
                    color:#fff;
                    margin-top: 20px;
                    margin-bottom: 65px;
                }
            }

            .news-div-three {
                display: flex;
                align-items: center;
                form {
                    max-width: 360px;
                    width: $w-100;
                    
                    margin-left: 110px;
                    height: 246px;

                    .label-div {
                        label {
                            font-family: 'acumin-pro',sans-serif;
                            font-weight: $bold;
                            font-size: 13px;
                            color: $black;
                        }
                        .select-div {
                            margin-top: 13px;
                            width: 360px;
                            height: 40px;
                            cursor: pointer;
                            border: 2px solid #EBEDED;
                            border-radius: 6px;
                            position: relative;

                            select {
                                width: 356px;
                                height: 36px;
                                border: none;
                                position: relative;
                                
                                background: none;
                                cursor: pointer;
                                appearance: none;
                                outline: none;
                                color: $grey;
                                padding-left: 12px;
                                font-family: 'Helvetica', sans-serif;
                                font-weight: $regular;
                                font-size: 13px;
                                
                                
                            }
                            &::after {
                               
                                width: 6px;
                                height:6px;
                                border-left: 3px solid $grey;
                                
                                
                                transform: rotate(225deg);
                                display: inline-block;
                                border-top: 3px solid $grey;
                                position: absolute;
                                top: 35%;
                                right: 20px;
                                content: " ";
                                
                            }


                        }    
                    
                        
                    }

                    .div-keyword {
                        margin-top: 40px;
                        label {
                            font-family: 'acumin-pro',sans-serif;
                            font-weight: $bold;
                            font-size: 13px;
                            color: $black;
                        }

                        .div-input {
                            margin-top: 10px;
                            width: 360px;
                            height: 40px;
                            
                            border: 2px solid #EBEDED;
                            border-radius: 6px;
                            input {
                                width: 356px;
                                height: 36px;
                                border: none;
                                
                                
                                background: none;
                                
                                appearance: none;
                                outline: none;
                                color: $grey;
                                &:focus {
                                    color: $grey;
                                }
                            }
                        }
                    }
                    .news-button {
                        margin-top: 40px;
                        max-width: 134px;
                        width: $w-100;
                        height: 40px;
                        background-color: $pink;
                        border-radius: 6px;
                        @include d-flex (flex,center, center);
                        a {
                            font-family: 'Helvetica', sans-serif;
                            color: #fff;
                            text-transform: uppercase;
                            font-size: $p-11;
                            font-weight: $bold;
                        }
                    }


                }
            }
        }
    }
}


.news-section-two {
    background-color: $nav-col;
    padding-top: 40px;
    padding-bottom: 40px;
    .news-section-two-container {
        padding-top: 41px;
        padding-bottom: 40px;
        max-width: 1160px;
        width: $w-100;
        margin: $m-center;
        display: flex;
        justify-content: space-between;
        border-top: 2px solid #EBEDED;
        border-bottom: 2px solid #EBEDED;
        .news-sec-two-one {
            max-width: 360px;
            width: $w-100;

            p{
                font-family: 'acumin-pro',sans-serif;
                font-weight: $bold;
                font-size: 24px;
                color: $black;
                line-height: 30px;
                margin-top: 20px;
            }
        }

        .news-sec-two-two {
            max-width: 360px;
            width: $w-100;
            p {
                font-family: 'Helvetica', sans-serif;
                color: $grey;
                line-height: 28px;
                font-size: 14px;
                font-weight: $regular;
            }
        }

        .news-sec-two-three {
            max-width: 360px;
            width: $w-100;
            p {
                font-family: 'Helvetica', sans-serif;
                color: $grey;
                line-height: 28px;
                font-size: 14px;
                font-weight: $regular;
            }

            .time {
                height: 16px;
                margin-top: 10px;
                display: flex;
                align-items: center;
                
                img {
                    margin-right: 10px;
                }
                p {
                   padding-bottom: 2px;
                }
            }
        }
    }
}

.news-section-three {
    background-color: $nav-col;
    padding-bottom: 161px;
    .news-section-three-container {
        border-bottom: 2px solid #EBEDED;
        max-width: 1160px;
        width: $w-100;
        margin: $m-center;
        padding-bottom: 40px;
        
        p{
            max-width: 760px;
            width: $w-100;
            font-family: 'Helvetica', sans-serif;
            color: $grey;
            line-height: 28px;
            font-size: 14px;
            font-weight: $regular;
            margin-top: 40px;
            &:nth-child(3) {
                margin-top: 40px;
            }
        }
    }
}