  @keyframes water {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  
  
  @keyframes spacing {
    0% {	letter-spacing: 0.8em; margin-left: 0.7em; }
    100% { letter-spacing: 1em; margin-left: 1em;}
  }


// w3 animations
  @keyframes animateleft{
    from{left:-700px;opacity:0} 
    to{left:0;opacity:1}
  }

  @keyframes animateright{
    from{left:700px;opacity:0} 
    to{left:0;opacity:1}
  }

  @keyframes animatebottom{
    from{bottom:-700px;opacity:0} 
    to{bottom:0;opacity:1}
  }

  @keyframes animatebottomh2 {
    from{bottom:-300px;opacity:0} 
    to{bottom:0;opacity:1}
  }