//Logo Parameters
    //For Logo Div
%div-logo {
    max-width: $p-38;
    width: $w-100;
    height: 12.8px;
}

    //For H2
%logo {
    font-family: 'Helvetica', sans-serif;
    font-size: $p-13;
    font-weight: $bold;
    color: $pink;
    text-transform: uppercase;
}


//navigation a parameters
%a-parameters {
    color: $black;
    font-family: 'Helvetica', sans-serif;
    font-weight: $bold;
    font-size: $p-11;
    text-transform: uppercase;
}


//h1-h2 parameters 
%main-parameters {
    font-family: 'Helvetica', sans-serif;
    font-size: 24px;
    font-weight: $bold;
    color: #fff;
}


//p parameters 
%p-parameters {
    font-family: 'Helvetica', sans-serif;
    font-weight: $regular;
    font-size: 16px
}

//text-h2
%text-h2 {
    font-family: 'Helvetica', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: $bold;
    color: $pink; 
}

//text h3
%text-h3 {
    font-family: 'Helvetica', sans-serif;
    font-size: 16px;
    font-weight: $bold;
    color: $black;  
}

//text p
%text-p {
    font-family: 'acumin-pro',sans-serif;
    font-weight: $regular;
    font-size: 13px;
    color: $grey;
}