// sizes
$p-20: 20px;
$p-30: 30px;
$p-40: 40px;
$p-45: 45px;
$w-100: 100%;


// background color
$background-col: hsla(206, 23%, 94%, 1);


// colors
$soft-blue: #8ab5e5;



// margins
$m-center: 0 auto;